@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  background-color:#777
}

*::-webkit-scrollbar{
  width: 10px;
  background-color: rgba(0,0,0,.2)
}
*::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,.5)
}

